/*
   remove inspecionar opções de acessibilidade do menu
   remove mandar imagem como e-mail do menu
   remove opções do pocket do menu
   remove opção tirar screenshot do menu
   remove mandar aba para dispositivo do menu
*/
#context_sendTabToDevice, #context-pocket, #context-take-screenshot, #context-savelinktopocket, #context-sendimage, #context-inspect-a11y
{
  display: none !important;
}

/* impede o firefox de esconder a barra de favoritos quando em tela cheia */
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
  visibility: unset !important;
}

/* Remove botões da janela maximizar, minimizar e fechar */
#window-controls { display:none!important; }

/*===CORES===*/
:root {
  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;
  --highlight-color: 50, 50, 50;
}

:root {
  --navbarWidth     : 50vw; /* Largura da barra de pesquisa o valor vw é uma porcentagem da largura do seu monitor
                               exemplo: 50% = 50vw*/
}

#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width   : 0px !important;
}

:root[uidensity="compact"] #nav-bar {
  margin-top  : -37px !important;
  height      : 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

#nav-bar {
  background  : none !important;
  box-shadow  : none !important;
}

#navigator-toolbox {
  border      : none !important;
}

.titlebar-spacer {
  display     : none !important;
}

#urlbar-background {
  border      : none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}

.urlbar-icon, .urlbar-icon:hover, #userContext-indicator, #userContext-label {
  fill        : #FFFFFF !important;
  color       : #FFFFFF !important;
}

#titlebar #TabsToolbar {
  background: rgba(var(--dark-color), 1) !important;
}

#PersonalToolbar {
  background: rgba(var(--dark-color), 1) !important;
  color: rgba(var(--light-color), 1) !important;
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}

toolbar#nav-bar {
  background: rgba(var(--dark-color), 1) !important;
  box-shadow: none !important;
  padding-bottom: 4px !important;
}

:root:-moz-lwtheme-brighttext,
.sidebar-panel[lwt-sidebar-brighttext],
body[lwt-sidebar-brighttext] {
	--main-bgcolor: var(--dark-color);
	--transparent-bgcolor: var(--dark-color);
}

tab[selected="true"] .tab-content {
  color: rgba(var(--light-color), 1) !important;
}

tab[selected="true"] .tab-background {
  background: rgba(var(--dark-color), 1) !important;
}
.tabbrowser-tab>.tab-stack>.tab-background:not([selected="true"]) {
  transition: all 0.3s ease !important;
}

.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
  background-color: rgba(var(--transparent-bgcolor), 0.7) !important;
}

.tab-line {
  height: 0px !important;
}

.tabbrowser-tab {
  margin-right: 5px !important;
}

.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: rgba(var(--light-color), 1) !important;
}

tab[selected="true"] .tab-content {
  color: rgba(var(--light-color), 1) !important;
}

tab[selected="true"] .tab-background {
  background: rgba(var(--dark-color), 1) !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}

.tab-close-button {
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
}