/*
   remove inspecionar opções de acessibilidade do menu
   remove mandar imagem como e-mail do menu
   remove opções do pocket do menu
   remove opção tirar screenshot do menu
   remove mandar aba para dispositivo do menu
*/
#context_sendTabToDevice, #context-pocket, #context-take-screenshot, #context-savelinktopocket, #context-sendimage, #context-inspect-a11y
{
  display: none !important;
}

/* impede o firefox de esconder a barra de favoritos quando em tela cheia */
#navigator-toolbox[inFullscreen="true"] #PersonalToolbar {
  visibility: unset !important;
}

/* Remove botões da janela maximizar, minimizar e fechar */
#window-controls {
  display: none !important;
}

:root {
    --tab-min-height: 35px !important;    /* abas menores */
    --tab-max-height: 35px !important;    /* abas menores */
    --inline-tab-padding: 8px !important; /* titulo e ícone das abas mais a direita */
    --tab-border-radius: 0 !important;    /* bordas quadradas */
    --tab-block-margin: 4px !important;   /* diminui bordas do navegador*/
    --navbarWidth: 50vw; /* Largura da barra de pesquisa o valor vw é uma porcentagem da largura do seu monitor */
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}

:root[uidensity="touch"] #nav-bar {
  margin-top  : -49px !important;
  height      : 49px !important;
}

/*===CORES===*/
:root {
  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;
  --highlight-color: 80, 80, 80;
}
.urlbar-icon, .urlbar-icon:hover, #userContext-indicator, #userContext-label {
  fill        : #FFFFFF !important;
  color       : #FFFFFF !important;
}
#titlebar #TabsToolbar {
  background: rgba(var(--dark-color), 1) !important;
}
#PersonalToolbar {
  background: rgba(var(--dark-color), 1) !important;
  color: rgba(var(--light-color), 1) !important;
  padding-bottom: 6px !important;
  padding-top: 1px !important;
}
toolbar#nav-bar {
  background: rgba(var(--dark-color), 1) !important;
  box-shadow: none !important;
}
:root:-moz-lwtheme-brighttext,
.sidebar-panel[lwt-sidebar-brighttext],
body[lwt-sidebar-brighttext] {
	--main-bgcolor: var(--dark-color);
	--transparent-bgcolor: var(--dark-color);
}
tab[selected="true"] .tab-content {
  color: rgba(var(--light-color), 1) !important;
}
tab[selected="true"] .tab-background {
  background: rgba(var(--highlight-color), 1) !important;
}
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected="true"]) {
  background-color: rgba(var(--transparent-bgcolor), 0.7) !important;
}
.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: rgba(var(--light-color), 1) !important;
}
tab[selected="true"] .tab-content {
  color: rgba(var(--light-color), 1) !important;
}
tab[selected="true"] .tab-background {
  background: rgba(var(--highlight-color), 1) !important;
}



/* Barra de procura(CTRL+F) compacta e no topo da tela */
.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
  position: fixed !important;
  right: 1em;
  border: 0 !important;

  border-top: none !important;
  box-shadow: none !important;
  background-image: none !important;

}
.findbar-closebutton {
  margin-inline-start: 0.5em !important;
  vertical-align: middle !important;
  margin-bottom: 0 !important;
  height: inherit !important;
}

/* remove bordas da barra de pesquisa */
#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

/* Remove padding da barra de pesquisa */
.urlbarView-row {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#urlbar-input-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: calc(var(--urlbar-toolbar-height) - 4px) !important;
}
#urlbar[breakout][breakout-extend] {
  top: 2px !important;
}
.search-one-offs {
  padding-block: 0px !important;
}
.search-panel-one-offs {
  padding-left: 7px !important;
}
.searchbar-engine-one-off-item {
  margin: 0px !important;
}

/* Aba e barra de favoritos minimalista */
.tab-line {
  height: 0px !important;
}
.tabbrowser-tab {
  margin-right: 0 !important;
  width: unset !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
  opacity: 0 !important;
}
.tab-close-button {
  border-radius: 0 !important;
}
#PersonalToolbar {
  margin-top: 0px !important;
  height:     30px !important;
  padding-inline: 6px;
}
#personal-toolbar-empty-description, #PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton) {
    margin: 0 !important;
}
#PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton) {
    border-radius: 0 !important;
}
:root {
  --toolbar-start-end-padding: 0 !important;
}
#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}
#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}
#urlbar-container {
  min-width   : 0px !important;
}
#nav-bar {
  background  : none !important;
  box-shadow  : none !important;
}
#navigator-toolbox {
  border      : none !important;
}
.titlebar-spacer {
  display     : none !important;
}
#urlbar-background {
  border      : none !important;
}
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
  box-shadow  : none !important;
  background  : none !important;
}

